# --- CONFIGURAÇÕES GERAIS ---
# O IP da tua VPS ou o teu domínio (ex: api.teudominio.com)
SERVER_URL=localhost

# --- BANCO DE DADOS (POSTGRES) ---
POSTGRES_USER=n8nAdmin
POSTGRES_PASSWORD=112658
POSTGRES_DB=automacoes_db

# --- REDIS (CACHE) ---
REDIS_PASSWORD=senha_do_redis_aqui

# --- EVOLUTION API ---
# Esta é a chave que vais usar nos teus headers de API (ApiKey)
EVOLUTION_API_KEY=api_key_aqui

# --- N8N ---
# Uma chave aleatória para o n8n encriptar as credenciais internamente
N8N_ENCRYPTION_KEY=api_key_aqui
# Define o fuso horário (ex: America/Porto_Velho para Rondônia)
GENERIC_TIMEZONE=America/Porto_Velho